In [37]:
# импортируем библиотеки
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression

In [28]:
# импортируем dataset
dataset = pd.read_csv('https://gist.githubusercontent.com/GaneshSparkz/b5662effbdae8746f7f7d8ed70c42b2d/raw/faf8b1a0d58e251f48a647d3881e7a960c3f0925/50_Startups.csv')
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [29]:
# проверяем все ли данные на месте
dataset.isna().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [30]:
# выводим информацию по модели данных (типы столбцов)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [32]:
# инициализируем X без столбца (data feature) целевой функции "Profit"
X = dataset.drop('Profit', axis=1)
X.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [33]:
# инициализируем Y как целевую функцию
y = dataset['Profit']
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [34]:
# переводим категориальные данные в числовые (добавляю новые data features как битовые карты)
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
 
categorical_feature = ["State"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                  one_hot,
                                  categorical_feature)],
                                 remainder="passthrough")

transformed_X = transformer.fit_transform(X)

In [35]:
pd.DataFrame(transformed_X).head()

     0    1    2          3          4          5
0  0.0  0.0  1.0  165349.20  136897.80  471784.10
1  1.0  0.0  0.0  162597.70  151377.59  443898.53
2  0.0  1.0  0.0  153441.51  101145.55  407934.54
3  0.0  0.0  1.0  144372.41  118671.85  383199.62
4  0.0  1.0  0.0  142107.34   91391.77  366168.42

In [39]:
# разбиваем dataset на test / train
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size = 0.25, random_state = 2509)

In [40]:
# инициализируем model как линейную регрессию
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [41]:
# получаем метрику качества модели на test выборке
model.score(X_test,y_test)

0.9840064291741952

In [42]:
# запускаем прогноз значений целевой функции y от x
y_pred = model.predict(X_test)

In [25]:
# выводим предсказанное , реальное значение в тестовой выборке и разницу между ними
d = {'y_pred': y_pred, 'y_test': y_test, 'diff': np.abs(y_test - y_pred)}
pd.DataFrame(d)

           y_pred     y_test          diff
32   98884.371543   97427.84   1456.531543
33  100047.235184   96778.92   3268.315184
47   47766.247901   42559.73   5206.517901
9   154976.558305  149759.96   5216.598305
37   91129.087779   89949.14   1179.947779
8   151755.926389  152211.77    455.843611
23  112436.195860  108733.99   3702.205860
24  113375.898676  108552.04   4823.858676
17  130706.106786  125370.37   5335.736786
1   189141.730655  191792.06   2650.329345
39   85217.422839   81005.76   4211.662839
22  116952.737156  110352.25   6600.487156
46   60343.602070   49490.75  10852.852070